.foot {
  background-color: #002E25;
  color: #fff;
}

.row>ul>li>a {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  border-bottom: #002E25 solid 2px;
}

.row>ul>li>a:hover {
  display: flex;
  color: #fff;
  text-decoration: none;
  border-bottom: #fff solid 2px;
  font-size: 17px;
}

.white-500 {
  color: #b6babf;
}

.white-500:hover {
  color: #fff;
}