.header-area {
  background-image: url(header-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 110px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

ul {
  list-style: none;

}

.nav>li {
  display: flex;
  padding: 0;

}

.nav>li>a {
  color: #fff;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
}



.pad-1 {
  padding-right: 15px !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.fs-xl {
  font-size: 64px !important;
}

.pink {
  color: #DC8CDB
}

.pink-grad {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #F8C3D8, #DC8CDB);
  padding: 12px 24px;
  border-radius: 5px;
  margin-top: 20px !important;
  ;
}

.pink-grad:hover {
  text-decoration: none;
  color: #fff;
}

.pl-80 {
  padding-left: 80px;
}


.shad:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}